@charset "UTF-8";

body {
   font-family: 'Montserrat', sans-serif;
}

h1 {
   color: white;
   font-family: 'Montserrat-Black', sans-serif;
   font-size: 3.5rem;
   line-height: 1.5;
   font-weight: 900;
   margin-top: 50px;
}

h3 {
   font-weight: bolder;
}

h2 {
   font-weight: bolder;
   font-size: 3rem;
   line-height: 1.5;
}

#title {
   background-color: #ff4c68;
}

.container-fluid {
   padding: 3% 15% 7%;
}

.title-img {
   padding-top: 40px;
   transform: rotate(17deg);
   width: 22%;
   position: absolute;
   right: 22%;
}

.navbar {
   padding-bottom: 40px;
}

.navbar-brand {
   font-size: 2.3rem;
   font-weight: bold;
   font-family: 'Ubuntu', sans-serif;
}

.nav-item {
   padding: 0 20px;
}

.nav-link {
   font-size: 1.4rem;
   /* font-family: 'Montserrat-light'; */
}

.download-button {
   margin: 10% 3% 3% 0;
}

#features {
   padding: 7% 15%;
   background-color: white;
   position: relative;
}

.featicon {
   color: #ef8172;
   font-size: 70px;
   margin-bottom: 1.2rem;
   text-align: center;
}

.featicon:hover {
   color: #ff4c68;
}

.feature-box {
   text-align: center;
   padding: 5%;
}

.featcontent {
   color: #5f5f5f;
   font-weight: bold;
}

#testimonials {  
   text-align: center;
   background-color: #ef8172;
   color: white;

}

.testimonial-img {
   width: 15%;
   border-radius: 100%;
   margin: 20px;
}

.carousel-item {
   padding: 7% 15%;
}

#press {
   background-color: #ef8172;
   text-align: center;
   padding-bottom: 25px;
}

.press-image {
   width: 15%;
   margin: 20px 20px 40px;
}

#pricing {
   padding: 100px;
   text-align: center;
}

.pricing-column {
   padding: 3% 2%;
}

#btnb {
   padding: 2% 25%;
}

.image-container {
   position: relative;
}

#cta {
   background-color: #ff4c68;
   color: white;
   padding: 7% 15%;
   text-align: center;
}

.ctah {
   font-size: 75px;
   font-weight: bolder;
   line-height: 1.5;
   margin-bottom: 60px;
}

#footer {
   padding: 7% 15%;
   text-align: center;
}

.footer-icon {
   margin: 10px;
}


@media (max-width: 1028px) {

   #title {
      text-align: center;
   }
   
   .title-img {
      position: static;
      transform: rotate(0);
      width: 65%;
   }

}